**/.git/
**/.idea/
**/.env
**/.DS_Store
**/README.md
**/.editorconfig
**/.gitignore
**/.dockerignore

# backend
**/__pycache__/
**/venv/
**/.venv/

# frontend
**/node_modules/
**/dist/
frontend/scripts/

**/package-lock.json
**/eslint.config.js
**/generate-api.*
**/schema.json
